* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}
body {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent; 
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; 

}
.wrapper {
    width: 100%;
    min-height: 100vh;
    height: auto;
    // padding-bottom: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: $extra) {
        // padding-bottom: 265px;
    }
    @media screen and (max-width: $small) {
        // padding-bottom: 290px;
    }
    &>.container {
        z-index: 2;
        position: relative;
    }
    &.main-page {
        background-image: url('../img/1st_screen_backing.png');
        background-repeat: no-repeat;
        background-position: top center;
        // background-size: auto 900px;
        background-size: 100% auto;
        @media screen and (max-width: $small) {
            background-size: 1370px auto;
        }
    }
}

.container {
    // width: 62.5%;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: $extra) {
        width: 867px;
    }
    @media screen and (max-width: $medium) {
        width: $small;
    }
    @media screen and (max-width: 785px) {
        width: 760px;
    }
    @media screen and (max-width: $small) {
        width: 100%;
    }
}

p {
    font-size: 15px;
    @extend %OpenSans-r;
    color: rgb(51, 51, 51);
    line-height: 1.2;    
    margin: 20px 0; 
    @media screen and (max-width: $extra) {
        font-size: 14px;
        line-height: 1.5;
    }
}

b {
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: 700;
}

a, button, input[type=submit] {
    cursor: pointer;
}

.input {
    margin: 10px 0;
    width: 100%;
    display: inline-block;
    &-50 {
        width: calc(50% - 10px);
        @media screen and (max-width: $small){
            width: 100%;
        }        
    }
    &-title {
        font-size: 14px;
        @extend %OpenSans-r;
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        line-height: 1.5;  
        margin-bottom: 5px;
        display: inline-block;        
    }
    input, textarea {
        border-radius: 5px;
        background-color: rgb(243, 244, 254);
        outline: none;
        width: 100%;
        border: 0;
        padding: 0 10px;
        font-size: 14px;
        @extend %OpenSans-r;
        color: rgb(51, 51, 51);
    }
    input {
        height: 50px; 
    }
    textarea {
        height: 200px;     
        resize: none;  
        padding: 10px;   
    }
}

h1, h2 {
    @extend %Montserrat-b;
    line-height: 1.5;
    @media screen and (max-width: $small) {
        line-height: 1.2;
    }
}
h3, h4, h5, h6 {
    @extend %Montserrat-m;
    line-height: 1.2;
}

h1 {
    font-size: 40px; 
    text-align: center;
    // margin: 30px 0 33px 0;
    line-height: 1.2;
    // border: 1px solid;
    margin: 5px 0 35px; 
    // position: relative;
    // &:before, &:after {
    //     content: '';
    //     top: -35px;
    //     left: 0;
    //     position: absolute;
    //     display: block;
    //     width: 100%;
    //     height: 1px;
    //     background: black;
    //     z-index: 5;
    // }
    // &:after {
    //     top: auto;
    //     bottom: -35px;
    // }
    @media screen and (max-width: $extra) {
        font-size: 29px;
        margin: 15px 0 35px;
    }
    @media screen and (max-width: $small) {
        font-size: 26px;
        margin: 20px 0 20px;
    }
}
h2 {
    font-size: 36px; 
    @media screen and (max-width: $extra) {
        font-size: 24px;
    }
    @media screen and (max-width: $small) {
        font-size: 22px;
    }
}
h3 {
    font-size: 20px;
    @media screen and (max-width: $small) {
        font-size: 18px;
    }
    
}
h4 {
    font-size: 18px;
    @media screen and (max-width: $small) {
        font-size: 16px;
    }
}

.main-page {
    h1 {
        font-size: 62px; 
        @media screen and (max-width: $extra) {
            font-size: 47px;
            margin: 0;
        }
        @media screen and (max-width: $small) {
            font-size: 32px;
            margin: 0;
        }
    }
    h2 {
        font-size: 48px; 
        @media screen and (max-width: $small) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 36px;
        @media screen and (max-width: $extra) {
            font-size: 25.5px;
        }
        @media screen and (max-width: $small) {
            font-size: 24px;
        }
    }
    h4 {
        font-size: 32px;
        @media screen and (max-width: $small) {
            font-size: 20px;
        }
    }
    h5 {
        font-size: 28px;
        @media screen and (max-width: $small) {
            font-size: 16px;
        }
    }
    h6 {
        font-size: 24px;
        @media screen and (max-width: $small) {
            font-size: 14px;
        }
    }
}
.title {
    font-size: 30px;
    @extend %Montserrat-b;
    color: rgb(51, 51, 51);
    text-align: center;
    margin-bottom: 30px; 
    @media screen and (max-width: $extra) {
        font-size: 21px;
    }
}
.dating-sites-desc {
    margin-top: 30px;
    h3 {
        font-size: 30px;
        @extend %Montserrat-b;
        color: rgb(51, 51, 51);
        text-align: center;
        margin-bottom: 30px; 
        @media screen and (max-width: $extra) {
            font-size: 21px;
        }
    }
}
.page-title {
    font-size: 44px;
    @extend %Montserrat-b;
    color: rgb(51, 51, 51);
    text-align: center;
    margin-bottom: 30px; 
}
.btn {
    font-size: 16px;
    @extend %Arimo;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;     
    background-color: rgb(58, 196, 227);
    padding: 0px 30px;
    height: 40px;
    border-radius: 40px;      
    border: 0;    
    outline: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    position: relative;
    cursor: pointer;
    &:hover {
        @media screen and (min-width: $small) {
            background-color: #fff;
            color: rgb(58, 196, 227);
            position: relative;
            background-color: transparent;
            &:before {
                content: '';
                border: 2px solid rgb(58, 196, 227);
                position: absolute;
                border-radius: 40px;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                top: 0;
                left: 0;
            }
        }
    }
    @media screen and (max-width: $extra) {
        font-size: 12px;
        padding: 0px 20px;
        height: 30px;
        border-radius: 30px; 
        line-height: 30px;
    }
    &.invert {
        @media screen and (min-width: $small) {
            background-color: #fff;
            color: rgb(58, 196, 227);
            position: relative;
            background-color: transparent;
            &:before {
                content: '';
                border: 2px solid rgb(58, 196, 227);
                position: absolute;
                border-radius: 40px;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                top: 0;
                left: 0;
            }
        }
        &:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(58, 196, 227);
            &:before {
                display: none;
            }
        }
    }
}
// .btn-visit {
//     display: block;
//     position: relative;
//     padding: 50px 45px 0 45px;
//     background-image: url('../img/button-nimbus.png');
//     background-position: top center;
//     background-size: auto auto; 
//     background-repeat: no-repeat;
//     cursor: pointer;
//     z-index: 1;
//     background-position: center -3px;
//     background-size: auto 45px;
//     @media screen and (max-width: $extra) {
//         padding: 40px 25px 0;
//         background-size: 62px auto;
//     }    
//     &:before, &:after {
//         content: '';
//         display: block;
//         position: absolute;
//         bottom: 0;
//         background-size: 100% auto;
//         background-repeat: no-repeat;
//         z-index: -1;
//     }
//     &:before {
//         background-image: url('../img/button-wing-left.png');
//         background-position: bottom right; 
//         left: 0;     
//         width: 60px;
//         height: 64px;  
//         bottom: -4px;
//         @media screen and (max-width: $extra) {
//             left: -7px;
//             width: 42px;
//             height: 51px;
//             bottom: -1px;
//         }
//     }
//     &:after {
//         background-image: url('../img/button-wing-right.png');
//         background-position: bottom left;  
//         right: 0;      
//         width: 54px; 
//         height: 60px;
//         bottom: 6px;
//         @media screen and (max-width: $extra) {
//             right: -6px;
//             width: 36px;
//             height: 38px;
//             bottom: 5px;
//         }
//     }
//     a {
//         display: block;
//         background-color: transparent;
//         background-image: url('../img/button.png');
//         background-size: 100% 100%;
//         text-transform: uppercase;
//         text-decoration: none;
//         line-height: 50px;
//         font-size: 18px;
//         @extend %Montserrat-b;
//         color: rgb(255, 255, 255);
//         font-weight: 700;
//         text-align: center;          
//         width: 100%;
//         height: 50px;  
//         @media screen and (max-width: $extra) {
//             line-height: 35px;
//             font-size: 14px;
//             height: 35px;
//         }
//     }
// }
// .fire {
//     .btn-visit {
//         padding-top: 48px;
//         background-image: url('../img/button-fire.png');
//         background-size: 170px auto;
//         @media screen and (max-width: $extra) {
//             padding-top: 35px;
//             background-size: 110px auto;
//             background-position: center 3px;
//         }
//         @media screen and (max-width: $small) {
//             background-position: center 4px;
//         }
//         &:before {
//             background-image: url('../img/button-left-horn.png');
//             left: 14px;     
//             width: 50px;
//             height: 59px;  
//             bottom: 10px;
//             @media screen and (max-width: $extra) {
//                 left: 3px;
//                 width: 37px;
//                 height: 43px;
//                 bottom: 6px;
//             }
//         }
//         &:after {
//             background-image: url('../img/button-right-horn.png');
//             right: 14px;      
//             width: 50px; 
//             height: 59px;
//             bottom: 10px;
//             @media screen and (max-width: $extra) {
//                 right: 4px;
//                 width: 37px;
//                 height: 43px;
//                 bottom: 6px;
//             }
//         }
//         a {
//             background-image: url('../img/button-red.png');
//         }
//     }
// }
@import 'blocks/topsites';

// rating
.rating {
    text-align: center; 
    margin: 10px 0;   
    min-width: 150px;
    &-title {
        font-size: 16px;
        margin: 10px 0;
    }
    @media screen and (max-width: $extra) {
        margin: 2px 0 0 0;
    }
    @media screen and (max-width: $small) {
        margin-bottom: 8px;
    }
    p.rating-title {
        font-size: 18px;
        margin: 8px 0;
        @media screen and (max-width: $extra) {
            font-size: 14px;
            margin: 2px 0 2px;
        }
    }
    &-desc {
        @extend %OpenSans-r;
        color: #151515;
        font-size: 10px;
        &.after {
            display: block;
        }
        &.before {
            display: none;
        }     
    }
    ul {
        @include flex(row, center, center);
        flex-direction: row-reverse;
        li {
            position: relative;
            padding: 3px;
            display: inline-block;
            width: 28px;
            height: 28px;
            @media screen and (max-width: $extra) {
                width: 21px;
                height: 21px;
            }
            &:before, &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                font-size: 22px;
                @media screen and (max-width: $extra) {
                    font-size: 15px;
                }
            }
            &:before {
                content: "\e909";
                color: rgb(255, 160, 192);
            }
            &.active {
                &:after {
                    content: "\e907";
                    color: #ff4081;
                }
            }
            &.active05 {
                &:after {
                    content: "\e908";
                    color: rgb(255, 64, 129);
                }
            }
        }      

        
    }
    // change rating
    &.change {
        .rating-desc.after {
            display: none;
        }
        .rating-desc.before {
            display: block;
        }
        ul {
            &:hover {
                li {
                    cursor: pointer;
                    &:after {
                        opacity: 0;
                    }
                }
            }
            li {
                &:hover {
                    &:after, &~li:after {
                        content: "\e907";
                        opacity: 1;
                        color: #ff4081;
                    }
                }
            }
        }
    }

}
@import 'blocks/allsites.scss';
.fire {
    .rating {            
        ul {
            li {
                &:before {
                    content: "\e909";
                    color: #ff9294;
                }
                &.active {
                    &:after {
                        content: "\e907";
                        color: #e7161a;
                    }
                }
                &.active05 {
                    &:after {
                        content: "\e908";
                        color: #e7161a;
                    }
                }
            }
        }
        // change
        &.change {            
            ul {
                &:hover {
                    li {
                        cursor: pointer;
                        &:after {
                            opacity: 0;
                        }
                    }
                }
                li {
                    &:hover {
                        &:after, &~li:after {
                            content: "\e907";
                            color: #e7161a;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// blog
.date {
    margin: 0;
    margin-bottom: 8px;
    color: #b4b4b4;
}

// volume checkbox
.volume {
    position: relative;
    display: inline-block;
    // top: 50px;
    // right: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
    z-index: 5;
    margin-left: 25px;
    @media screen and (max-width: $extra) {
        margin-top: 0;
    }
    @media screen and (max-width: $small) {
        display: none;
    }
    input {
        position: absolute;
        opacity: 0;
        z-index: 1;
        @media screen and (max-width: $small) {
            display: none;
        }
        &+span {
            z-index: 2;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 30px;
            height: 30px;
            background-image: url(../img/volume-off.svg);
            background-size: 100% auto;
            background-position: center center;
            @media screen and (max-width: $extra) {
                width: 25px;
                height: 25px;
            }
        }        
        &:checked+span {
            background-image: url(../img/volume-high.svg);
        }
    }
}
.copyright {
    text-align: center;
    color: #b4b4b4;
    padding: 0 0 20px 0;
    margin: 0;
    line-height: 1;
    @media screen and (max-width: $extra) {
        padding: 0 0 15px 0;
    }
}

.cost {
    @extend %OpenSans-sb;
    // color: #8a8989;
    font-size: 14px;
    @media screen and (max-width: $extra) {
        font-size: 12px;        
    }
}
.readMore {
    font-size: 11px;
    // @media screen and (max-width: $extra) {
    //     font-size: 11px;        
    // }
    color: #3655c3;
    display: block;
    margin: 3px 0;
    &:focus, &:active, &:visited {
        color: #3655c3;        
    }
}