@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff2") format("woff2");
    src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.otf") format("opentype"), 
    url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf") format("truetype"), 
    url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2");
    src: url("../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Montserrat-Medium/Montserrat-Medium.otf") format("opentype"), 
    url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"), 
    url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2") format("woff2");
    src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.otf") format("opentype"), 
    url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype"), 
    url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold/OpenSans-Bold.woff2") format("woff2");
    src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/OpenSans-Bold/OpenSans-Bold.otf") format("opentype"), 
    url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), 
    url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular/OpenSans-Regular.woff2") format("woff2");
    src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/OpenSans-Regular/OpenSans-Regular.otf") format("opentype"), 
    url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"), 
    url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}