@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons/icons.eot?np6z4v');
  src:  url('../fonts/icons/icons.eot?np6z4v#iefix') format('embedded-opentype'),
    url('../fonts/icons/icons.ttf?np6z4v') format('truetype'),
    url('../fonts/icons/icons.woff?np6z4v') format('woff'),
    url('../fonts/icons/icons.svg?np6z4v#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"], [class*=" icon"] {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-up:before {
  content: "\e901";
}
.icon-heart1a:before {
  content: "\e902";
  color: #e7161a;
}
.icon-heart1b .path1:before {
  content: "\e903";
  color: rgb(255, 146, 148);
}
.icon-heart1b .path2:before {
  content: "\e904";
  margin-left: -1.115234375em;
  color: rgb(231, 22, 26);
}
.icon-heart1c:before {
  content: "\e905";
  color: #ff9294;
}
.icon-heart2a:before {
  content: "\e906";
  color: #ff4081;
}
.icon-heart2b .path1:before {
  content: "\e907";
  color: rgb(255, 160, 192);
}
.icon-heart2b .path2:before {
  content: "\e908";
  margin-left: -1.115234375em;
  color: rgb(255, 64, 129);
}
.icon-heart2c:before {
  content: "\e909";
  color: #ffa0c0;
}
