$extra: 1370px;
$large: 1200px;
$medium: 992px;
$small: 767px;

// %Helvetica {
//     font-family: "HelveticaNeueCyr", sans-serif;
//     font-style: normal;
// }
// @extend %Helvetica;

// fonts
%Montserrat-b {
    font-family: "Montserrat-ExtraBold", sans-serif;
    font-style: normal;
    font-weight: 900;
}
%Montserrat-m {
    font-family: "Montserrat-Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
}
%Montserrat-s {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-style: normal;
    font-weight: 600;
}
%OpenSans-b {
    font-family: "OpenSans", sans-serif;
    font-style: normal;
    font-weight: 700;
}
%OpenSans-sb {
    font-family: "OpenSans", sans-serif;
    font-style: normal;
    font-weight: 600;
}
%OpenSans-r {
    font-family: "OpenSans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

%Arimo {
    font-family: "Montserrat-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
}

// mixins
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}