<button class="trigger-menu" id='trigger-menu'>menu</button>
<div class="fix-text" id="fix-nav">
    <ul>
        <li><a href="/start-page.html">Start page</a></li>
        <li><a href="/index.html">Main page</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/article.html">Blog post</a></li>
        <li><a href="/contacts.html">Contacts</a></li>
        <li><a href="/country-lists.html">Country list</a></li>
        <li><a href="/privacy-policy.html">Privacy policy</a></li>
    </ul>
</div>