<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <a href="/" class="logo">
                <img src="img/logo-footer.png" alt="image">
            </a>
            <nav class="navigation">
                <ul class="menu">
                    <li><a href="">Disclaimer</a></li>
                    <li><a href="/privacy-policy.html">Privacy policy</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-flags">
            <a href="" class="flag"><img src="img/italy.png" alt="image"></a>
            <a href="" class="flag"><img src="img/austria.png" alt="image"></a>
            <a href="" class="flag"><img src="img/belgium.png" alt="image"></a>
            <a href="" class="flag"><img src="img/denmark.png" alt="image"></a>
            <a href="" class="flag"><img src="img/finland.png" alt="image"></a>
            <a href="" class="flag"><img src="img/france.png" alt="image"></a>
            <a href="" class="flag"><img src="img/germany.png" alt="image"></a>
            <a href="" class="flag"><img src="img/netherlands.png" alt="image"></a>
            <a href="" class="flag"><img src="img/norway.png" alt="image"></a>
            <a href="" class="flag"><img src="img/spain.png" alt="image"></a>
            <a href="" class="flag"><img src="img/sweden.png" alt="image"></a>
            <a href="" class="flag"><img src="img/united-kingdom.png" alt="image"></a>
        </div>
        <p class="copyright">© Сopyright 2018</p>
    </div>
</footer>