<header class="header">
    <div class="container">
        <a href="/" class="custom-logo-link">
            <img alt="image" src="img/logo-header.png">
        </a>
        <div class="header__right">
            <nav class="navigation">
                <!-- <button class="menu-toggle" id="menu-toggle"></button> -->
                <div class="hamburger hamburger--spring js-hamburger" id="menu-toggle">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
                <!--  class="menu-item-has-children" -->
                <ul id="primary-menu" class="menu">
                    <li>
                        <a href="">Other Countries</a>
                        <!-- <ul class="sub-menu">
                            <li><a href="">Italy</a></li>
                            <li><a href="">Spain</a></li>
                            <li><a href="">Denmark</a></li>
                            <li><a href="">United Kingdom</a></li>
                            <li><a href="">Netherlands</a></li>
                            <li><a href="">Norway</a></li>
                            <li><a href="">France</a></li>
                            <li><a href="">Sweden</a></li>
                            <li><a href="">Germany</a></li>
                            <li><a href="">Belgium</a></li>
                            <li><a href="">Finland</a></li>                        
                        </ul> -->
                    </li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/contacts.html">Contacts</a></li>
                </ul>
            </nav>
            <label class="volume">
                <input type="checkbox" checked="checked">
                <span></span>
            </label>
        </div>
    </div>
</header>
<audio controls="false" id="soundChose" style="display: none;">
    <source src="http://testk.isolly.com/fonts/click1.mp3" type="audio/mpeg">
</audio>
<include src="/fix-menu.html"></include>