// allsites
.allsites {  
    margin-top: 76px;
    @media screen and (max-width: $extra) {
        margin-top: 30px;
    }
    .title {
        margin-bottom: 0;
    }
    &-item {
        @include flex(row, space-between, center);
        padding: 30px 18px 30px 37px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 50px 0px rgba(10, 26, 132, 0.08);       
        margin: 20px 0 50px 0;
        &:hover {
            @media screen and (min-width: $small) {
                box-shadow: 0 0 30px 3px rgba(10,26,132,.4);
                z-index: 2;
                // transform: translateY(-2px);
                .btn-visit {
                    &:before {
                        opacity: 0;
                    }
                }
            }
        }
        &.hover {
            box-shadow: 0 0 30px 3px rgba(10,26,132,.4);
            z-index: 2;
            // transform: translateY(-2px);
            .btn-visit {
                &:before {
                    opacity: 0;
                }
            }
        }
        @media screen and (max-width: $extra) {
            padding: 18px 17px 20px 17px;
            margin: 20px 0 42px;
        }
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, center);
            text-align: center;
            width: 290px;
            margin: 20px auto 42px;
            max-width: 320px;
        }
        &__content {
            width: 400px;
            text-align: left;
            padding-right: 30px;
            @media screen and (max-width: $extra) {
                width: 360px;
            }
            @media screen and (max-width: $medium) {
                width: 270px;
            }
            @media screen and (max-width: $small) {
                width: 100%;
                text-align: center;
                padding-right: 0;
            }
        }
        &__name {
            font-size: 24px;
            @extend %Montserrat-s;
            color: rgb(153, 153, 153);
            line-height: 1.2;
            margin-bottom: 8px;
            @media screen and (max-width: $extra) {
                font-size: 16px;
            }
        }
        &__logo {
            padding: 0 20px;  
            width: 25%;          
            @media screen and (max-width: $extra) {
                margin-right: 16px;
                margin-top: 0px;
                width: 214px;
            }
            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        p {
            margin: 0;
            margin-bottom: 5px;
        }
        .rating {
            padding: 0 15px;
            @media screen and (max-width: $extra) {
                padding: 0 0px 0 0px;
                margin: 0;
                padding-right: 37px;
            }
            @media screen and (max-width: $medium) {
                padding-right: 10px;
            }
            @media screen and (max-width: $small) {
                padding-right: 0;
                padding-left: 0;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 15px;
            }
            p.rating-title {
                font-size: 15px;
                margin: 18px 0 5px 0;
                white-space: nowrap;
                @media screen and (max-width: $extra) {
                    font-size: 12.5px;
                    margin: 7px 0 3px;
                }
            }
            ul {
                li {
                    &:before, &:after {
                        font-size: 20px;
                        @media screen and (max-width: $extra) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    // .btn-visit {
    //     width: 280px;
    //     margin-right: 0;
    //     padding: 53px 40px 0 40px;    
    //     @media screen and (max-width: $extra) {
    //         width: 235px;
    //         padding: 40px 30px 0;
    //         background-size: 60px auto;
    //         background-position: center 4px;
    //     }
    //     @media screen and (max-width: $small) {
    //         margin: 0 auto;
    //     }
    //     a {
    //         height: 40px;
    //         line-height: 40px;
    //         font-size: 16px; 
    //         @media screen and (max-width: $extra) {
    //             height: 30px;
    //             line-height: 30px;
    //             font-size: 12px;
    //         }           
    //     }
    //     &:before {
    //         left: 3px;     
    //         width: 48px;
    //         height: 64px;  
    //         bottom: -2px;
    //         @media screen and (max-width: $extra) {
    //             left: 2px;
    //             width: 38px;
    //             height: 44px;
    //             bottom: -2px;
    //         }
    //     }
    //     &:after {
    //         right: 3px;
    //         width: 45px;
    //         height: 60px;
    //         bottom: 4px;
    //         @media screen and (max-width: $extra) {
    //             right: 3px;
    //             width: 34px;
    //             height: 36px;
    //             bottom: 4px;
    //         }
    //     }
    // }  
    // .fire {
    //     .btn-visit {
    //         padding-top: 40px;
    //         @media screen and (max-width: $extra) {
    //             padding-top: 27px;
    //             background-position: center 0px;
    //             background-size: 94px auto;
    //         }
    //         &:before {
    //             left: 12px;     
    //             width: 40px;
    //             height: 59px;  
    //             bottom: 10px;
    //             @media screen and (max-width: $extra) {
    //                 left: 13px;
    //                 height: 37px;
    //                 width: 30px;
    //                 bottom: 6px;
    //             }
    //         }
    //         &:after {
    //             right: 14px;      
    //             width: 40px; 
    //             height: 59px;
    //             bottom: 10px;
    //             @media screen and (max-width: $extra) {
    //                 width: 30px;
    //                 bottom: 6px;
    //                 height: 38px;
    //             }
    //         }
    //     }       
    // }  

    // btn-visit
    
    .btn-visit {
        width: 280px;
        padding-top: 8%;
        height: 0;
        position: relative;
        background-image: url(../img/button1z.gif);
        background-size: 100% auto;
        background-position: bottom center;
        background-repeat: no-repeat;
        &:before {
            content: '';
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            background-image: url(../img/button1z.png);
            background-size: 100% auto;
            background-position: bottom center;
            background-repeat: no-repeat;
            transition: all 0s;
            // @media screen and (max-width: $small) {
            //     display: none;
            // }
        }
        @media screen and (max-width: $extra) {
            width: 235px;
        }
        @media screen and (max-width: $small) {
            padding-top: 0;
            height: 76px;
            width: 230px;
            margin: 0 auto;
        }
        p.cost {
            transform: translateY(-6px);
            z-index: 2;
            position: relative;
            @media screen and (max-width: $small) {
                position: absolute;
                bottom: -17px;
                left: 50%;
                z-index: 2;
                transform: translateX(-50%);
            }
        }
        a {
            display: block;
            position: absolute;
            // bottom: 0;
            z-index: 2;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            bottom: 9%;
            @extend %Arimo;
            color: rgb(255, 255, 255);
        
            bottom: 11px;
            height: 40px;
            line-height: 41px;         
            @media screen and (max-width: $extra) {
                bottom: 7px;
                line-height: 27px;
                height: 26px;
                font-size: 10px;
            }
            @media screen and (max-width: $large) {
                font-size: 10px;
            }
            @media screen and (max-width: $medium) {
                bottom: 6px;
                line-height: 25px;
                height: 25px;
            }
            // @media screen and (max-width: $small) {
            //     bottom: 9px;
            //     line-height: 35px;
            //     height: 34px;
            //     font-size: 12px;
            // }
            @media screen and (max-width: $small) {
                bottom: 9px;
                line-height: 34px;
                height: 34px;
                font-size: 12px;
            }
            
        }
    }
    .fire {
        .btn-visit {
            // margin-right: 10px;
            // width: 260px;
            background-image: url(../img/button2z.gif);
            &:before {
                background-image: url(../img/button2z.png);
            }
            a {
                @media screen and (min-width: $extra) {
                    height: 41px;
                }
            }
            // @media screen and (max-width: $extra) {
            //     width: 206px;
            //     margin-right: 10px;
            // }
            // @media screen and (max-width: $small) {
            //     margin-right: 0px;
            //     margin: 0 auto;
            // }
            // a {
            //     bottom: 11px;
            //     height: 38px;
            //     line-height: 39px;
            //     @media screen and (max-width: 1600px) {
            //         line-height: 41px;
            //     }
            //     @media screen and (max-width: $extra) {
            //         bottom: 6.5px;
            //         line-height: 25px;
            //         height: 24px;
            //         font-size: 11px;
            //     }
            //     @media screen and (max-width: $large) {
            //         font-size: 10px;
            //     }
            //     @media screen and (max-width: $medium) {
            //         bottom: 5px;
            //         line-height: 20px;
            //         height: 20px;
            //     }
            //     // @media screen and (max-width: $small) {
            //     //     bottom: 9px;
            //     //     line-height: 32px;
            //     //     height: 30px;
            //     //     font-size: 12px;
            //     // }
            //     @media screen and (max-width: $small) {
            //         bottom: 9px;
            //         line-height: 32px;
            //         height: 31px;
            //         font-size: 12px;
            //     }
            // }

        }
    }
}