.article {
    h1 {
        font-size: 30px;
        @extend %Montserrat-s;
        color: rgb(51, 51, 51);
        // line-height: 1.2;
        text-align: center;
        // margin: 30px 0 60px;
        @media screen and (max-width: $extra) {
            font-size: 26px;
            // margin: 40px 0 60px;
        }
        @media screen and (max-width: $small) {
            // margin: 20px 0;
        }
    }
    h2 {
        font-size: 20px;
        @extend %OpenSans-r;
        color: rgb(51, 51, 51);
        line-height: 1.2; 
        margin-bottom: 8px;   
    }
    P {
        margin-top: 0;
        margin-bottom: 15px; 
        line-height: 1.35;       
    }
    &-img {
        width: 100%;
        img {
            margin: 0 0 30px 0;
            width: 100%;
            height: auto;
        }
    }
    &-content {
        width: 100%;
        // max-width: 800px;
        // padding: 0 15px;
        margin: 0 auto;
        img {
            margin: 10px 0 30px 0;
            width: 100%;
        }
    }
    .date {
        margin-bottom: 12px;
    }
}