.blog {
    // position: relative;
    // top: -30px;
    // z-index: 3;
    // @media screen and (max-width: $extra) {
    //     top: -27px;
    // }
    // @media screen and (max-width: $small) {
    //     top: 0;
    // }
    h1 {
        // font-size: 40px; 
        text-align: center;
        // margin: 22px 0 33px 0;
        // margin: 30px 0 60px;
        line-height: 1;
        z-index: 3;
        position: relative;
        transform: translateY(-19px);
        @media screen and (max-width: $extra) {
            // font-size: 29px;
            // margin: 16px 0 25px 0;
            // margin: 40px 0 60px;

            // border: 1px solid;
            transform: translateY(-14px);
            z-index: 3;
            position: relative;
        }
        @media screen and (max-width: $small) {
        //     font-size: 28px;
        //     margin: 20px 0;
            transform: translateY(0);
        }
    }
    h2 {
        font-size: 24px; 
        @extend %Montserrat-m;
        color: rgb(58, 196, 227);
        text-decoration: none;
        margin: 0;
        margin-bottom: 10px;
        line-height: 1.2;
        @media screen and (max-width: $extra) {
            font-size: 18px;
        }
        a {
            font-size: inherit;
            color: inherit;
            text-decoration: none;
            margin-bottom: 10px;
            line-height: inherit;        
        }
    }
    h3 {
        font-size: 20px;
        @media screen and (max-width: $small) {
            font-size: 16px;
        }
    }
    &-wrap {
        @include flex(row, space-between, flex-start);
    }
    &-main {
        width: 70%;
        padding-right: 30px;
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    &-sidebar {
        width: 30%;
        @media screen and (max-width: $small) {
            display: none;
        }
        img {
            max-width: 100%;
        }
    }
    &-item {
        margin: 0 auto 55px auto;  
        
        &:last-child {
            margin-bottom: 35px;
        }      
    }
    &-img {
        width: calc(30% - 30px);
        padding-top: 3px;
        height: 100px;
        position: relative;
        margin-bottom: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width: $extra) {
            width: calc(30% - 25px);
            height: 125px;
        }
        @media screen and (max-width: $medium) {
            width: calc(30% - 20px);
            height: 140px;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            padding: 0;
            margin-bottom: 20px;

        }
        img {
            height: auto;
            width: 100%;
        }
    }
    &-content {
        @include flex(row, space-between, flex-end);
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, center);
        }
        
        // max-width: 800px;
        margin: 0 auto;
        // padding: 30px 15px;
        
        &__text {
            width: 70%;
            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
    }
    
    
    &-text {
        p {
            margin: 10px 0;
            line-height: 1.35;
        }
    }
}