.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    h1 {
        @extend %Montserrat-b;
        // font-size: 40px;
        color: rgb(51, 51, 51);
        // line-height: 0.75;
        text-align: center;       
        // margin: 5px 0 22px;  
        margin: 5px 0 25px;    
        display: block;
        width: 100%;  
        @media screen and (max-width: $extra) {
            margin: 15px 0 20px;
        }
        // @media screen and (max-width: $small) {
        //     margin: 30px 0 20px;
        //     font-size: 32px;
        // } 
    }
    &-btn {
        width: 100%;
        text-align: center;
        margin: 30px 0 0 0;
        .contacts-submit {
            display: inline-block;
            width: 200px;
            &:hover {
                @media screen and (min-width: $small) {
                    background-color: #fff;
                    color: rgb(58, 196, 227);
                    position: relative;
                    background-color: transparent;
                    &:before {
                        content: '';
                        border: 2px solid rgb(58, 196, 227);
                        position: absolute;
                        border-radius: 40px;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        .btn {
            width: 200px;
            &:hover {
                @media screen and (min-width: $small) {
                    background-color: #fff;
                    color: rgb(58, 196, 227);
                    position: relative;
                    background-color: transparent;
                    &:before {
                        content: '';
                        border: 2px solid rgb(58, 196, 227);
                        position: absolute;
                        border-radius: 40px;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}