.country {
    h1 {
        margin: 5px 0 20px;
        @media screen and (max-width: $extra) {
            margin: 15px 0 20px;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }
    &-item {
        text-decoration: none;
        width: calc(33.3333% - 30px);
        @include flex(row, flex-start, center);
        margin: 15px 0;
        &:hover {
            @media screen and (min-width: $small) {
                text-decoration: underline; 
            }
        }
        img {
            width: 45px;            
        } 
        @media screen and (max-width: $small){
            width: 100%;
        }       
    }
    &-name {
        font-size: 18px;
        @extend %OpenSans-r;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        text-align: left;  
        display: inline-block;        
        margin-left: 50px;
        text-decoration: none;
    }
}