.footer {
    // background-image: url('../img/footer-back.png');
    background-position: bottom center;
    // background-size: auto 378px;
    background-repeat: no-repeat;
    background-color: #f3f4fe;
    // padding-top: 110px;
    padding-top: 0;
    margin-top: 160px;
    // position: absolute;
    position: relative;
    // bottom: 0;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: 1920px) {
        background-size: 100% 378px;
    }
    @media screen and (max-width: $extra) {
        // padding-top: 88px;
        // margin-top: 20px;
        margin-top: 140px;
    }
    @media screen and (max-width: $small) {
        background-size: auto 100%;
    }
    &:before {
        content: "";
        display: block;
        background-image: url('../img/footerBefore.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: auto 150px;
        height: 150px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 15px;
        z-index: -1;
        transform: translateY(-90%);
        @media screen and (max-width: $small) {
            display: none;
        }
    }
    &-top {
        padding: 15px 0 25px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.102);       
        @include flex(row, space-between, center); 
        @media screen and (max-width: $extra) {
            padding: 0px 0 15px 0;
        }
    }
    &-flags {
        padding: 20px 0;
        @include flex(row, center, center); 
        @media screen and (max-width: $extra) {
            padding: 15px 0;
        }
        @media screen and (max-width: $small) {
            display: flex;
            flex-wrap: wrap;            
        }
        .flag {
            padding: 0 5px;
            width: 55px;
            &:hover {
                @media screen and (min-width: $small) {
                    transform: translateY(-3px);
                }
            }
            @media screen and (max-width: $extra) {
                width: 40px;
            }
            @media screen and (max-width: $small) {
                margin-bottom: 10px;
            }
            img {
                width: 100%;
            }
        }
    }
    .navigation {
        @media screen and (max-width: $small) {
            display: none;
        }
        .menu {
            li {
                &:after {
                    color: rgb(51, 51, 51);
                }
                a, p {
                    color: rgb(51, 51, 51);              
                }
                &>a, &>p {
                    &:before, &:after {
                        content: '';
                        bottom: 2px;
                        position: absolute;
                        width: 0;
                        height: 1px;
                        background-color: rgb(51, 51, 51);
                        transition: all 0.5s ease-in-out;
                    }
                    &:before {
                        left: 0;
                    }
                    &:after {
                        right: 0;
                    }
                } 
                &:hover {
                    @media screen and (min-width: $small) {
                        &>a, &>p {
                            &:before, &:after {
                                width: 50%;
                            }
        
                        }
                    }
                }
            }
        }
    }

}