
.header {
    padding: 15px 0;
    background-image: url('../img/header-back.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1920px auto;
    height: 270px;
    position: relative;
    z-index: 3;
    @media screen and (max-width: $extra) {
        background-size: 1370px auto;
        height: 190px;
    }
    @media screen and (max-width: $small) {
        height: auto;
    }
    @media screen and (min-width: 1920px) {
        background-size: 100% auto;
    }
    &:before {
        content: '';
        background-image: url('../img/waves.png');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 1920px auto;
        position: absolute;
        display: block;
        bottom: -2px;
        left: 0px;
        width: 100%;
        height: 270px;
        z-index: 1;
        @media screen and (max-width: $extra) {
            background-size: 1370px auto;
            height: 145px;
        }
        @media screen and (max-width: $small) {
            display: none;
        }
        @media screen and (min-width: 1920px) {
            background-size: 100%;
        }
    }
    &__right {
        @include flex(row, flex-end, center);
    }
    .container {
        @include flex(row, space-between, center);
        position: relative;
        z-index: 2;
    }
}
.main-page {
    .header {
        background-image: none;
        height: auto;
        &:before {
            display: none;
        }
    }
}
.custom-logo-link, .logo {
    img {
        max-width: 100%;
        height: auto;
    }
    @media screen and (max-width: $extra) {
        width: 227px;
    }
    @media screen and (max-width: $small) {
        max-width: 80%;
        img {
            max-width: 100%;
        }
    }
}
// menu
.navigation {
    margin-top: 20px;
    @media screen and (max-width: $extra) {
        margin-top: 0;
    }
    // &-toggle {
    //     display: none;
    //     width: 30px;
    //     height: 30px;
    //     background-image: url('../img/menu.png');
    //     background-size: 100% auto;
    //     background-repeat: no-repeat;
    //     border: 0;
    //     background-color: transparent;
    //     outline: none;
    //     @media screen and (max-width: $small) {
    //         display: block;
    //     }
    // }
    .menu {
        @include flex(row, flex-end, center);
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, flex-start);
            // display: none;
            position: absolute;
            top: 120%;
            left: 0;
            background-color: transparent;
            padding: 15px;
            width: 100%;
            transform: translateX(-100%);
            transition: all 1.5s ease-in-out; 
        }
        li {
            a, p {
                color: rgb(255, 255, 255);
                cursor: pointer;
                @extend %Montserrat-s;
                padding: 7px 0;
                display: block;
                line-height: 1.25;
                text-align: left;
                font-size: 16px;
                margin: 0;
                text-decoration: none;
                position: relative;
                @media screen and (max-width: $extra) {
                    font-size: 11.5px;
                }
                @media screen and (max-width: $small) {
                    color: rgb(51, 51, 51);
                    line-height: 1.5;
                    font-size: 18px;
                }                              
            }
            &>a, &>p {
                &:before, &:after {
                    content: '';
                    bottom: 2px;
                    position: absolute;
                    width: 0;
                    height: 1px;
                    background-color: #fff;
                    transition: all 0.5s ease-in-out;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            } 
            &:hover {
                @media screen and (min-width: $small) {
                    &>a, &>p {
                        &:before, &:after {
                            width: 50%;
                        }
    
                    }                    
                }
            }
        }
        &>li {
            &:not(:last-child) {
                margin-right: 36px;
                &.menu-item-has-children {
                    margin-right: 56px;
                }
                @media screen and (max-width: $extra) {
                    margin-right: 25px;
                }
            }
        }
        .menu-item-has-children {
            position: relative;
            &:after {
                content: "\e900";
                font-family: 'icons' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 0.7em;
                position: absolute;
                right: -20px;
                top: 12px;
                color: #fff;
                @media screen and (max-width: $extra) {
                    top: 9px;
                }
                @media screen and (max-width: $small) {
                    color: #333;
                    right: 0;
                    top: 14px;
                }
            }
            .sub-menu {
                // display: none;
                @include flex(column, flex-start, flex-start);
                position: absolute;
                top: 93%;
                left: 0;                
                padding: 0px 15px 0 15px;
                min-width: 100%;
                max-height: 0;
                overflow: hidden;
                // background: url(../img/header-back.png);
                // background-size: auto;
                // background-position: center center;
                // background-image: -webkit-linear-gradientlinear-gradient(60deg, #6191ea, #b03ab1);
                // background-image: -moz-linear-gradient(60deg, #6191ea, #b03ab1);
                // background-image: -ms-linear-gradient(60deg, #6191ea, #b03ab1);
                // background-image: -o-linear-gradient(60deg, #6191ea, #b03ab1);
                // background-image: linear-gradient(60deg, #6191ea, #b03ab1);
                background-color: #fff;
                -webkit-transition:all 1.5s linear;
                -moz-transition:all 1.5s linear;
                transition:all 1.5s linear;
                @media screen and (max-width: $small) {
                    position: static;
                    background-image: none;
                    // opacity: 0;
                }
                a, p {
                    color: #000;
                    &:hover {
                        @media screen and (min-width: $small) {
                            &:before, &:after {
                                background-color: #000;
                            }
                        }
                    }
                }
            }
            &.active {
                .sub-menu {
                    // opacity: 0;
                    max-height: 200px;
                    overflow-y: scroll;
                } 
                &:after {
                    content: "\e901";
                }
            }
            &:hover {
                @media screen and (min-width: $small) {
                    .sub-menu {
                        // opacity: 0;
                        max-height: 200px;
                        overflow-y: scroll;
                    } 
                    &:after {
                        content: "\e901";
                    }
                }
            }
        }
    }
    &.active {
        .menu {     
            transform: translateX(0);
            background-color: #fff;
        }
    }
}

.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;

    display: none;
    @media screen and (max-width: $small) {
        display: block;
    }
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
}

.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: rgb(255, 255, 255)
}

.hamburger-inner:after,.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -10px
}

.hamburger-inner:after {
    bottom: -10px
}


.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s linear .13s
}

.hamburger--spring .hamburger-inner:before {
    top: 10px;
    transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19)
}

.hamburger--spring .hamburger-inner:after {
    top: 20px;
    transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19)
}

.hamburger--spring.is-active .hamburger-inner {
    transition-delay: .22s;
    background-color: transparent
}

.hamburger--spring.is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
    transform: translate3d(0,10px,0) rotate(45deg)
}

.hamburger--spring.is-active .hamburger-inner:after {
    top: 0;
    transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
    transform: translate3d(0,10px,0) rotate(-45deg)
}  