.privacy {
    h1 {
        // margin: 30px 0 60px;
        // line-height: 1.2;
        @media screen and (max-width: $extra){
            // margin: 15px 0 20px;
            // margin: 40px 0 60px;
        }
        @media screen and (max-width: $small) {
            // margin: 20px 0;
        }
    }
    h2, h3, h4 {
        @extend %OpenSans-r;
        margin: 10px 0;
    }
    h2 {
        font-size: 20px;
        margin: 14px 0 10px 0;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 14;
    }
    p {
        line-height: 1.3;
        margin: 10px 0;
    }
}