.start {
    background-image: url(../img/start-page-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // height: 100vh;
    height: auto;
    padding-bottom: 250px;
    @media screen and (max-width: $extra) {
        background-size: cover;
        background-position: center top;
    }
    @media screen and (max-width: $small) {
        height: auto;
        padding-bottom: 0;
    }
    &-wrap {
        height: 100vh;

        &>.container {
            position: relative;
            // padding-bottom: 240px;
            // height: 100%;
    
            height: 100vh;
            transform: translateY(-82px);
            padding-bottom: 120px;
            padding-top: 40px;
    
            @include flex(column, center, justify);
            z-index: 2;
            @media screen and (max-width: $extra) {
                // padding-bottom: 205px;
            }
            @media screen and (max-width: $small) {
                padding-bottom: 0;
                // height: auto;
            }
        }
    }
    .header {
        background: none;
        height: auto;
        &:before {
            display: none;
        }

    }
    h1 {
        font-size: 66px;
        @extend %Montserrat-b;
        color: rgb(255, 255, 255);
        line-height: 1.12;
        text-align: center;       
        display: block;   

        margin-top: 0;
        @media screen and (max-width: $large) {
            font-size: 50px;
        }
        @media screen and (max-width: $extra) {
            font-size: 48px;
        }
        @media screen and (max-width: $medium) {
            font-size: 44px;
        }
        @media screen and (max-width: $small) {
            font-size: 36px;
        }
    }
    h1+.container,
    &>.container {
        position: relative;
        // padding-bottom: 240px;
        // height: 100%;

        height: calc(100% - 220px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include flex(column, center, justify);
        z-index: 2;
        @media screen and (max-width: $extra) {
            // padding-bottom: 205px;
        }
        @media screen and (max-width: $small) {
            padding-bottom: 0;
            height: auto;
        }
    }
    &-links {
        @include flex(row, center, center);
        padding: 32px 30px 0px;  

        width: 100%;
        @media screen and (max-width: $extra) {
            padding: 10px 30px 0px;
        }
        @media screen and (max-width: $small) {
            // padding: 22px 0px 150px 0px;  
            padding: 22px 0px 0px 0px;  
            flex-wrap: wrap;
        }
    }
    &-link {
        background-color: #fff;
        font-size: 24px;
        color: rgb(58, 196, 227);
        text-transform: uppercase;
        text-decoration: none;
        width: calc(50% - 15px);
        max-width: 420px;
        margin: 0 15px;
        display: inline-block;
        height: 60px;
        line-height: 60px;  
        padding-top: 0;
        padding-bottom: 0;
        &:hover {
            @media screen and (min-width: $small) {
                background-color:rgb(58, 196, 227) ;
                color: #fff;
                &:before {
                    display: none;
                }
            }
        }
        @media screen and (max-width: $extra) {
            font-size: 18px;
            height: 45px;
            line-height: 45px;
            max-width: 290px;
        }  
        @media screen and (max-width: $small) {
            height: 45px;
            line-height: 45px;
            width: 100%;
            font-size: 16px;
            margin: 10px 0;
        } 
    }
    .footer {
        z-index: 1;
        background: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding-top: 50px;
        @media screen and (min-width: $extra) {
            padding-top: 0;
        }
        @media screen and (max-width: $small) {
            position: relative;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            // top: -150px;
            top: 0;
            left: 0;
            background-image: url(../img/start-page-waves.png);
            background-size: 1920px auto;
            height: 150px;
            width: 100%;
            @media screen and (min-width: 1920px) {
                background-size: 100% 150px;
            }
            @media screen and (max-width: $extra) {
                background-size: 1920px 120px;
                height: 120px;
                // top: -118px;
                top: 0;
            }
        }
    }
}
.img-italy {
    display: inline-block;
    // width: 75px;
    // background-image: url(../img/h1-italy.png);
    // background-size: 100% 100%;  
    margin: 0 10px;   
    img {
        height: 50px;
        @media screen and (max-width: $large) {
            height: 50px;
        }
        @media screen and (max-width: $extra) {
            height: 38px;
        }
        @media screen and (max-width: $small) {
            height: 31px;
        }
    }  
}