.tab-item {
    // margin-bottom: 105px;  
    @media screen and (max-width: $extra) {
        // margin-bottom: 68px;
    }
}
// ---
.topsites {
    text-align: center;
    margin-top: 112px;
    @media screen and (max-width: $extra) {
        margin-top: 70px;
    }
    @media screen and (max-width: 1200px) {
        margin-top: 20px;
    }
    @media screen and (max-width: 992px) {
        margin-top: 20px;
    }
    img {
        max-width: 100%;
    }
    h3 {
        text-transform: uppercase; 
        color: #fff;
    }
    h1 {
        color: #fff;
    }
    p {
        margin: 0;
    }
    &-row {
        @include flex(row, space-between, center);
        margin: 77px 0 50px 0;
        @media screen and (max-width: $extra) {
            margin: 55px 0 45px;

        }
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, center);
        }
    }
    &-item {
        box-shadow: 0px 20px 50px 0px rgba(10, 26, 132, 0.08);          
        position: relative;
        width: 33.3333%;
        text-align: center;
        padding: 23px 30px;
        background-color: #fff;   
        &:hover {
            @media screen and (min-width: $small) {
                border-radius: 10px!important;
                box-shadow: 0px 0px 50px 3px rgba(10,26,132,.5);
                z-index: 2;
                // transform: translateY(-3px);

                .btn-visit {
                    &:before {
                        opacity: 0;
                    }
                }
            }
            .tooltip {
                opacity: 1;
            }
        }
        &.hover {
            border-radius: 10px!important;
            box-shadow: 0px 0px 50px 3px rgba(10,26,132,.5);
            z-index: 2;
            // transform: translateY(-3px);
            .tooltip {
                opacity: 1;
            }
            .btn-visit {
                &:before {
                    opacity: 0;
                }
            }
        }    
        @media screen and (max-width: $extra) {
            padding: 25px 30px;
        }
        @media screen and (max-width: $small) {
            width: 290px;
            max-width: 100%;
            margin: 30px auto;
            border-radius: 10px;
        }
        &:first-child {
            border-radius: 10px 0 0 10px;
            height: 480px;
            @media screen and (max-width: $extra) {
                height: 420px;
            }
            @media screen and (max-width: $small) {
                border-radius: 10px;
                order: 2;
            }
        }
        &:nth-child(2) {
            width: 33.5%;
            height: 510px;
            @media screen and (max-width: $extra) {
                height: 450px;
            }
            @media screen and (max-width: $small) {
                width: 290px;
                max-width: 100%;
                margin: 30px auto;
                order: 1;
                height: 450px;
            }
        }
        &:last-child {
            height: 480px;
            border-radius: 0 10px 10px 0;
            @media screen and (max-width: $extra) {
                height: 420px;
            }
            @media screen and (max-width: $small) {
                width: 290px;
                border-radius: 10px;
                order: 3;
            }
        }
        .tooltip {
            position: absolute;
            border: 1px solid rgb(172, 172, 172);
            box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 8px 0px;
            padding: 10px;
            top: 10px;
            background-color: rgb(255, 255, 255);
            font-size: 14px;
            color: rgb(69, 69, 69);
            right: 10px;
            width: 180px;
            text-align: center;
            z-index: 1;
            border-radius: 10px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            z-index: 10;
            @extend %OpenSans-r;
            @media screen and (max-width: $extra) {
                padding: 7px;
                font-size: 12px;
            }
           
            &::before {
                content: '';
                display: block;
                border-left: 11px solid transparent;
                border-right: 12px solid transparent;
                border-top: 11px solid;
                border-top-color: inherit;
                bottom: -12px;
                margin-left: -11px;
                position: absolute;
                left: 43px;
            }
            &::after {
                content: '';
                display: block;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #fff;
                border-bottom: none;
                bottom: -10px;
                left: 45px;
                margin-left: -12px;
                position: absolute;
            }
        }

        &__text {
            margin: 7px 0;
            @media screen and (max-width: $extra) {
                margin: 3px 0;
            }
        }
        .cost {
            position: relative;
            top: -7px;
            z-index: 2;
        }
        // btn-visit
        .btn-visit {
            // width: 100%;
            width: calc(100% - 5px);
            padding-top: 33%;
            height: 0;
            margin: 0 auto;
            position: relative;
            background-image: url(../img/button1z.gif);
            background-size: 100% auto;
            background-position: bottom center;
            background-repeat: no-repeat;
            &:before {
                content: '';
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                background-image: url(../img/button1z.png);
                background-size: 100% auto;
                background-position: bottom center;
                background-repeat: no-repeat;
                transition: all 0s;
                // @media screen and (max-width: $small) {
                //     display: none;
                // }
            }
            @media screen and (max-width: $extra) {
                width: 100%;
            }
            @media screen and (max-width: $small) {
                width: 230px;
                margin: 0 auto;
            }
            a {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                text-align: center;
                z-index: 2;

                text-transform: uppercase;
                text-decoration: none;
                // line-height: 3.5!important;
                font-size: 18px;
                @extend %Arimo;
                color: rgb(255, 255, 255);
                bottom: 14px;
                height: 47px;
                line-height: 48px;            
                @media screen and (max-width: $extra) {
                    bottom: 9px;
                    line-height: 32px;
                    height: 32px;
                    font-size: 11px;
                }
                @media screen and (max-width: $medium) {
                    bottom: 7px;
                    line-height: 27px;
                    height: 27px;
                }
                @media screen and (max-width: $small) {
                    bottom: 9px;
                    line-height: 34px;
                    height: 34px;
                }
            }
        }
        &.fire {
            .btn-visit {
                width: 100%;
                // width: 95%;
                // margin: 0 auto;
                background-image: url(../img/button2z.gif);
                &:before {
                    background-image: url(../img/button2z.png);                    
                }
                // @media screen and (max-width: $small) {
                //     width: 212px;
                   
                // }
                // a {
                //     bottom: 13px;
                //     height: 45px;
                //     line-height: 46px;            
                //     @media screen and (max-width: $extra) {
                //         bottom: 8px;
                //         line-height: 31px;
                //         height: 31px;
                //         font-size: 11px;
                //     }
                //     @media screen and (max-width: $medium) {
                //         bottom: 7px;
                //         line-height: 24px;
                //         height: 25px;
                //     }
                //     @media screen and (max-width: $small) {
                //         bottom: 9px;
                //         line-height: 32px;
                //         height: 31px;
                //     }
                // }
            }
        }
        &--main {
            border-radius: 15px;
            padding: 40px 30px;
            @media screen and (max-width: $extra) {
                padding: 32px 30px;
            }
            .topsites-item__logo {
                margin-bottom: 25px;  
                @media screen and (max-width: $extra) {
                    margin-bottom: 10px;
                }  
                @media screen and (max-width: $small) {
                    margin-bottom: 4px;
                }           
            }
            .rating {
                margin-bottom: 8px;
            }
        } 
        &__medal {
            display: block;
            position: absolute;
            top: -35px;
            left: 40px;
            @media screen and (max-width: $extra) {
                top: -28px;
                left: 30px;
                width: 47px;
            }
        }       
        &__logo {
            margin-bottom: 15px;
            text-align: center;
            @media screen and (max-width: $extra) {
                margin-bottom: 4px;
            }
            img {
                height: 95px;
                width: auto;
                @media screen and (max-width: $extra) {
                    height: 70px;
                }
            }
        }
        &__name {
            font-size: 28px;
            @extend %Montserrat-s;
            color: rgb(153, 153, 153);
            line-height: 1.2;
            margin-bottom: 10px!important;
            @media screen and (max-width: $extra) {
                font-size: 20px;
            }
        }
        // timer
        &--timer {
            .btn-visit {
                width: 200px;
                margin: 0 auto;
                padding-top: 65px;
                @media screen and (max-width: $extra) {
                    width: 160px;
                    margin: 0 auto;
                    padding-top: 50px;
                }
                a {
                    line-height: 29px;
                    font-size: 14px;
                    @media screen and (max-width: $extra) {
                        line-height: 27px;
                        font-size: 12px;
                    }
                }
            }
            &.fire {
                .btn-visit {
                    width: 185px;
                    padding-top: 67px;
                    @media screen and (max-width: $extra) {
                        width: 155px;
                        margin: 0 auto;
                        padding-top: 50px;
                    }
                    a {
                        @media screen and (max-width: $small) {
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
    
}

.switcher {
    text-align: center;
    &-nav {
        position: relative;
        margin: 0 auto;
        @include flex(row, center, center);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);          
        border-radius: 60px;
        width: 575px;
        height: 60px;
        padding: 5px;
        margin: 38px auto;
        @media screen and (max-width: $extra) {
            width: 415px;
            height: 45px;
            margin: 25px auto;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            max-width: 290px;
        }
        li {
            outline: none!important;
            cursor: pointer;
            a {
                outline: none!important;
                text-decoration: none;
                -webkit-tap-highlight-color: rgba(0,0,0,0); 
                -webkit-tap-highlight-color: transparent; 
                span {
                    font-size: 18px;
                    @extend %Montserrat-b;
                    text-transform: uppercase;
                    line-height: 50px;
                    text-align: center;  
                    @media screen and (max-width: $extra) {
                        font-size: 14px;
                        line-height: 35px;
                    }
                    @media screen and (max-width: $small) {
                        font-size: 12px;
                        line-height: 18px;
                    }                   
                }
            }
            &:first-child, &:last-child {
                width: 50%;                 
                height: 50px;
                overflow: hidden;
                @media screen and (max-width: $extra) {
                    height: 35px;
                }
                a {
                    white-space: nowrap;
                    @media screen and (max-width: $small) {
                        white-space: normal;
                        display: flex!important;
                        @include flex(column, center, center);
                    }
                }
            }
            &:first-child {
                a {
                    width: 100%;
                    padding-right: 40px;  
                    display: inline-block;
                    height: 100%;
                    @media screen and (max-width: $extra) {
                        padding-right: 35px;
                        padding-left: 10px;  
                    }
                    span {
                        color: rgb(58, 196, 227);
                    }                            
                }
                &.ui-tabs-active {
                    background-color: rgb(58, 196, 227);                      
                    border-radius: 50px;
                    a {
                        span {
                            color: rgb(255, 255, 255);
                        }                            
                    }
                }
                &:hover {
                    @media screen and (min-width: $small) {
                        background-color: rgb(58, 196, 227);                      
                        border-radius: 50px;
                        a {
                            span {
                                color: rgb(255, 255, 255);
                            }                            
                        }
                    }
                }
            }
            &:last-child {
                a {
                    width: 100%;
                    padding-left: 40px;
                    display: inline-block;
                    height: 100%;
                    @media screen and (max-width: $extra) {
                        padding-right: 10px;
                        padding-left: 35px;
                    }
                    span {
                        color: rgb(231, 22, 26);
                    }                            
                }
                &.ui-tabs-active {
                    background-color: rgb(231, 22, 26);
                    border-radius: 50px;
                    a {
                        span {
                            color: rgb(255, 255, 255);
                        }                            
                    }
                }
                &:hover {
                    @media screen and (min-width: $small) {
                        background-color: rgb(231, 22, 26);
                        border-radius: 50px;
                        a {
                            span {
                                color: rgb(255, 255, 255);
                            }                            
                        }
                    }
                }
            }
            &:nth-child(2) {
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                z-index: 2;
                width: 112px;           
                height: 103px;                
                background-image: url("../img/shadow.png");
                background-repeat: no-repeat;
                @media screen and (max-width: $extra) {
                    width: 90px;
                    height: 70px;
                    background-size: 100% auto;
                }
                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);    
                    display: block;
                    color: #fff;
                    line-height: 75px;
                    background-repeat: no-repeat;
                    
                    background-image: url('../img/mix-heart-active.png');
                    width: 90px;
                    height: 82px;
                    &:before {
                        content: "";
                        display: block;
                        background-image: url('../img/mix-heart.png');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        transition: all .5s ease-in-out;
                        opacity: 1;
                    }
                    span {
                        font-size: 22px;
                        z-index: 2;
                        position: relative;
                        @media screen and (max-width: $extra) {
                            font-size: 16px;
                            line-height: 50px;
                        }
                    }
                    @media screen and (max-width: $extra) {
                        width: 68px;
                        height: 63px;
                        line-height: 40px;
                        background-size: 100% auto;
                    }

                }
                &.ui-tabs-active {
                    a {
                        &:before {
                            opacity: 0;
                        }
                    }
                }
                &:hover {
                    @media screen and (min-width: $small) {
                        a {
                            &:before {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }    
}


/* Reset */
.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after {
  clear: both; }

.flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important; }

.flip-clock-meridium a { color: #3ac4e3; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  display: inline-block;
  width: auto;
  margin: 0em auto;
  @media screen and (max-width: $extra) {
    margin: 0em auto;
    top: -7px;
  }
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 2px;
  width: 30px;
  height: 45px;
  font-size: 80px;
  font-weight: 700;
  line-height: 43px;
  border-radius: 6px;
  background: #3ac4e3;
//   @media screen and (max-width: $extra) {
//     width: 20px;
//     height: 30px;
//     font-size: 30px;
//     line-height: 32px;
//   }
  @media screen and (max-width: $extra) {
    width: 16px;
    height: 25px;
    font-size: 30px;
    line-height: 26px;
  }
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #3ac4e3;
  background-color: rgba(43, 166, 203, 0.4); }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0; }

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #fff;
  text-shadow: 0 1px 2px #3ac4e3;
  text-align: center;
  background-color: #3ac4e3;
  border-radius: 6px;
  font-size: 30px;
//   @media screen and (max-width: $extra) {
//     font-size: 18px;
//   }
  @media screen and (max-width: $extra) {
    font-size: 16px;
  }
}

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

// .flip-clock-wrapper .flip {   box-shadow: 0 2px 5px rgba(43, 166, 203, 0.7); }

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 6px;
  height: 45px;
  margin: 2px 0;
//   @media screen and (max-width: $extra) {
//     height: 30px;
//   }
  @media screen and (max-width: $extra) {
    height: 25px;
  }
}

.flip-clock-divider:first-child {
  width: 0; 
  position: absolute;
  display: block;
  left: -6px;
  width: 6px;
  bottom: 0;
//   ------------test
}

.flip-clock-dot {
  display: block;
  background: #3ac4e3;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
//   box-shadow: 0 0 5px rgba(43, 166, 203, 0.5);
  left: 0.5px; }

.flip-clock-divider .flip-clock-label {
  position: absolute;
  bottom: -1.5em;
//   right: -50px;
  color: #3ac4e3;
  text-shadow: none; 
//   @media screen and (max-width: $extra) {
//     right: -37px;
//   }
    left: 40px;
    transform: translateX(-50%);
    right: auto;
  @media screen and (max-width: $extra) {
    // right: -32px;
    
    left: 27px;
    transform: translateX(-50%);
    right: auto;
  }
}

// .flip-clock-divider.days .flip-clock-label {
// //    @media screen and (max-width: $extra) {
// //     right: -40px;
// //   } 
//     left: 50%;
//     transform: translateX(45%);
//   @media screen and (max-width: $extra) {
//     // right: -36px;

//     left: 50%;
//     transform: translateX(45%);
//   } 
// }

// .flip-clock-divider.minutes .flip-clock-label {
//   right: -55px;
// //   @media screen and (max-width: $extra) {
// //     right: -44px;
// //   }
//   @media screen and (max-width: $extra) {
//     right: -42px;
//   }
// }

// .flip-clock-divider.seconds .flip-clock-label {
//     right: -57px;
//     // @media screen and (max-width: $extra) {
//     //     right: -46px;
//     // } 
//     @media screen and (max-width: $extra) {
//         right: -43px;
//     }
// }

.flip-clock-dot.top {
  top: 10px;
  @media screen and (max-width: $extra) {
    top: 4px;
  } 
}

.flip-clock-dot.bottom {
    bottom: 10px;
    @media screen and (max-width: $extra){
        bottom: 4px;
    } 
}

@-webkit-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-moz-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-o-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }

  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }

  100% {
    -o-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    transform: rotateX(90deg); }

  100% {
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }

  100% {
    -moz-transform: rotateX(-90deg); } }

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }

  100% {
    -o-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }

  100% {
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(43, 166, 203, 0.1)), color-stop(100%, #3ac4e3));
  background: linear, top, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%;
  background: -o-linear-gradient(top, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%);
  background: -ms-linear-gradient(top, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%);
  background: linear, to bottom, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(43, 166, 203, 0.1)), color-stop(100%, #3ac4e3));
  background: linear, top, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%;
  background: -o-linear-gradient(top, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%);
  background: -ms-linear-gradient(top, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%);
  background: linear, to bottom, rgba(43, 166, 203, 0.1) 0%, #3ac4e3 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3ac4e3), color-stop(100%, rgba(43, 166, 203, 0.1)));
  background: linear, top, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%;
  background: -o-linear-gradient(top, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%);
  background: -ms-linear-gradient(top, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%);
  background: linear, to bottom, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3ac4e3), color-stop(100%, rgba(43, 166, 203, 0.1)));
  background: linear, top, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%;
  background: -o-linear-gradient(top, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%);
  background: -ms-linear-gradient(top, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%);
  background: linear, to bottom, #3ac4e3 0%, rgba(43, 166, 203, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.fire {
 
.flip-clock-meridium a { color: #e80e13; }

/* Skeleton */
.flip-clock-wrapper ul {
  background: #e80e13;
}


.flip-clock-wrapper ul li a div.up:after {
  content: "";
  background-color: #e80e13;
  background-color: rgba(232, 14, 19, 0.4); }


.flip-clock-wrapper ul li a div div.inn {
  text-shadow: 0 1px 2px #e80e13;
  background-color: #e80e13; }


// .flip-clock-wrapper .flip {   box-shadow: 0 2px 5px rgba(232, 14, 19, 0.7); }


.flip-clock-dot {
  background: #e80e13;
//   box-shadow: 0 0 5px rgba(232, 14, 19, 0.5);
   }

.flip-clock-divider .flip-clock-label {
  color: #e80e13;
  }


/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232, 14, 19, 0.1)), color-stop(100%, #e80e13));
  background: linear, top, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%;
  background: -o-linear-gradient(top, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%);
  background: -ms-linear-gradient(top, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%);
  background: linear, to bottom, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%;
   }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232, 14, 19, 0.1)), color-stop(100%, #e80e13));
  background: linear, top, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%;
  background: -o-linear-gradient(top, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%);
  background: -ms-linear-gradient(top, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%);
  background: linear, to bottom, rgba(232, 14, 19, 0.1) 0%, #e80e13 100%;
   }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e80e13), color-stop(100%, rgba(232, 14, 19, 0.1)));
  background: linear, top, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%;
  background: -o-linear-gradient(top, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%);
  background: -ms-linear-gradient(top, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%);
  background: linear, to bottom, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%;
   }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e80e13), color-stop(100%, rgba(232, 14, 19, 0.1)));
  background: linear, top, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%;
  background: -o-linear-gradient(top, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%);
  background: -ms-linear-gradient(top, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%);
  background: linear, to bottom, #e80e13 0%, rgba(232, 14, 19, 0.1) 100%;
  }

}